doctype html5

html
	head
		style
			include:stylus index.styl
	body
		#date Monday, 1#[sup st] January
		#time 0:00#[span.util-sub AM]
		#weather
			.block #[i.wi.wi-na] N/A
			.block -272.15&deg;C
			.block #[i.wi.wi-wind-direction] 0#[span.util-sub mph]
		#minutecast
			.timeline
				each _ in new Array(120)
					.segment
			.summary No Data Available
		
		script( src = "https://ajax.googleapis.com/ajax/libs/jquery/" +
			"2.1.4/jquery.min.js" )
		script
			include:coffee index.coffee
